<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Колонизация</title>
    <link rel="stylesheet"href="/static/css/style.css">
</head>
<body>
    <h1>Жди нас, Марс!</h1>
    <img src="\static\img\mars.jpg" alt="здесь должна была быть картинка, но не нашлась">
    <div class="ind1"><p><b>Человечество вырастает из детства.</b></p></div>
    <div class="ind2"><p><b>Человечеству мала одна планета.</b></p></div>
    <div class="ind3"><p><b>Мы сделаем обитаемыми безжизненные пока планеты.</b></p></div>
    <div class="ind4"><p><b>И начнем с Марса!</b></p></div>
    <div class="ind5"><p><b>Присоединяйся!</b></p></div>
</body>
</html>